<%= form_for @poem, html: {class: "poem poem--editing"} do |f| %>
	<div class="poem__text">
	  <% if @poem.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@poem.errors.count, "error") %> prohibited this poem from being saved:</h2>

			<ul>
			<% @poem.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
		<% end %>

		<div class="field">
			<%= f.label :image, 'image' %>
			<%= f.file_field :image %>
		</div>
		<div class="field">
			<%= f.label :title, 'title' %>
			<%= f.text_field :title, placeholder: "this is optional" %>
		</div>
		<div class="field">
			<%= f.label :body, "poem" %>
			<%= f.text_field :body, placeholder: "Coerce terse verse..." %>
		</div>
		<div class="field">
			<%= f.label :maximised, "show big?" %>
			<%= f.check_box :maximised %>
		</div>

		<div class="actions">
			<%= f.submit  "Make the change" %>
		</div>

	</div>

	<% if @poem.image_url %>
	<div class="poem__image"><%= image_tag @poem.image_url.to_s %></div>
	<% end %>

<% end %>