<%= form_for @poem, html: {class: "poem"} do |f| %>
	<div class="poem__text">
	  <% if @poem.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@poem.errors.count, "error") %> prohibited this poem from being saved:</h2>

			<ul>
			<% @poem.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
		<% end %>

		<div class="field">
		<div class="field">
			<%= f.label :image, 'image' %>
			<%= f.file_field :image %>
		</div>
			<%= f.label :title, 'title' %>
			<%= f.text_field :title, placeholder: "this is optional" %>
		</div>
		<div class="field">
			<%= f.label :body, "poem" %>
			<%= f.text_field :body, placeholder: "Coerce terse verse..." %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>