<%= form_for @poem, html: {class: "poem poem--editing"} do |f| %>
	<div class="poem__text">
	  <% if @poem.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@poem.errors.count, "error") %> prohibited this poem from being saved:</h2>

			<ul>
			<% @poem.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
		<% end %>

		<div class="field">
			<%= f.label :title, "title" %>
			<%= f.text_area :title, placeholder: "Titles are optional, and as long as you like." %>
		</div>
		<div class="field">
			<%= f.label :body, "poem" %>
			<%= f.text_area :body, placeholder: "What goes? Compose!", class: 'poem__body' %>
		</div>
		<div class="field">
			<%= f.label :maximised, "If your poem is legible IN your picture, uncheck this option:" %>
			<%= f.check_box :maximised %>
		</div>

		<div class="actions">
			<%= f.submit  "Do the thing!" %>
		</div>

	</div>

<% end %>