<article id="poem-<%= poem.id %>">
  <% if poem.picture? %>
  <img alt="" src="assets/oil_800w.jpg"
    srcset="assets/oil_640w.jpg 640w,
            assets/oil_800w.jpg 800w,
            assets/oil_1200w.jpg 1200w,
            assets/oil_1920w.jpg 1920w"
    sizes="100%, (min-width=960) 960px" />
  <% end %>

  <div>
    <%= content_tag 'h1', poem.title unless poem.title.blank? %>
    <p><%= poem.content %></p>
    <footer>
      <dl>
        <dt>By </dt><dd><address><%= poem.poet.name %></address>,</dd>
        <dt>posted </dt><dd><%= time_ago_in_words(poem.created_at) %> ago</dd>
      </dl>
      <% if @poet && current_poet?(@poet) %>
      <ul>
        <li>Edit</li>
        <li><%= link_to 'Delete', poem, method: 'delete' %></li>
      </ul>
      <% end %>
    </footer>
  </div>
</article>
