<article id="poem-<%= poem.id %>">
  <%= responsive_picture poem if poem.picture? %>
  <div>
    <%= content_tag 'h1', poem.title unless poem.title.blank? %>
    <p><%= poem.content %></p>
    <footer>
      <dl>
        <dt>By </dt><dd><address><%= poem.poet.name %></address>,</dd>
        <dt>posted </dt><dd><%= time_ago_in_words(poem.created_at) %> ago</dd>
      </dl>
      <% if @poet && current_poet?(@poet) %>
      <ul>
        <li>Edit</li>
        <li><%= link_to 'Delete', poem, method: 'delete' %></li>
      </ul>
      <% end %>
    </footer>
  </div>
</article>
