<article class="poem<%= ' poem--maximised' if @maximised %>" role="main">
	<%= image_tag @poem.image.url.to_s unless @poem.image.nil? %>

	<div class="poem__text">
		<% if @poem.title then %><h1><%= @poem.title %></h1><% end %>
		<p class="poem__body"><%= @poem.body %></p>
		<footer>
			<% if @poem.poet != nil %>
			by <%= link_to gravatar_for( @poem.poet ), poet_path( @poem.poet, index: @poem.poet.poems.find_index( @poem ), list: true ) %>
			<% end %>
<!--       |  <%= link_to 'Edit', edit_poem_path(@poem) %> -->
		</footer>
	</div>
</article>
