<% heading_level ||= nil %>

<article id="poem-<%= poem.id %>">
  <%= responsive_picture poem if poem.picture? %>
  <div>
    <%= content_tag heading_level || :h1, poem.title unless poem.title.blank? %>
    <p><%= poem.content %></p>
    <footer>
      <dl>
        <dt>By </dt><dd><address><%= poem.poet.name %></address>,</dd>
        <dt>posted </dt><dd><%= time_ago_in_words(poem.created_at) %> ago</dd>
      </dl>
      <% if @poet && current_poet?(@poet) %>
      <ul>
        <li>Edit</li>
        <li><%= link_to 'Delete', poem, method: 'delete' %></li>
      </ul>
      <% elsif current_poet.editor? %>
      <ul>
        <li><%= link_to 'publish', editorial_poem_path( poem, { publish: true } ), method: :patch %></li>
        <li><%= link_to 'don\'t publish', editorial_poem_path( poem, { publish: false } ), method: :patch %></li>
      </ul>
      <% end %>
    </footer>
  </div>
</article>
