<% heading_level ||= :h1 %>

<article id="poem-<%= poem.id %>">
  <%= responsive_picture poem if poem.picture? %>
  <div>
    <%= content_tag heading_level, poem.title unless poem.title.blank? %>
    <p><%= poem.content %></p>
    <footer>
      <dl>
        <dt>By </dt><dd><address><%= poem.poet.name %></address>,</dd>
        <dt>contributed on </dt><dd><%= time_ago_in_words(poem.created_at) %> ago</dd>
      </dl>
      <ul>
        <% if current_poet?(poem.poet) %>
        <li>Edit</li>
        <li><%= link_to 'Delete', poem, method: 'delete' %></li>
        <% end %>
        <% if current_poet.editor? %>
          <%= content_tag :li do
            if poem.publish
              link_to 'Don\'t publish', editorial_poem_path( poem, { publish: false } ), method: :patch
            else
              link_to 'Publish', editorial_poem_path( poem, { publish: true } ), method: :patch
            end
          end %>
        <% end %>
      </ul>
    </footer>
  </div>
</article>
