<% content_for :orientation do %>

<% if @show_list then %>
<nav id="results">
  <h1>Found <%= @poems.count unless @poems.nil? %> matches for "<%= @search_for %>"</h1>
  <ol>
    <% @poems.each_with_index do |poem, index| %>
    <li><%= link_to poem.body, params.merge( index: index ) %></li>
    <% end unless @poems.nil? %>
  </ol>
</nav>
<% else %>
<nav id="orientation">
    <div id="where-now">Exploring "<%= link_to @search_for, poems_path({search_for: @search_for}) %>"</div>
    <div id="where-next">
    <%= if @prev_poem then link_to 'Previous', @prev_poem, { id: 'prev', class: 'poem__nav' } end %>
    <%= if @next_poem then link_to 'Next', @next_poem, { id: 'next', class: 'poem__nav' } end %>
    </div>
</nav>

<% end %>
<% end %>

<%= render 'poem' unless @poem.nil? %>