<%= provide(:page_title, 'Contribute a poem') %>
<article>
<%= form_for( @poem, html: { multipart: true } ) do |f| %>
  <h2>Release a beast!</h2>
  <%= render 'shared/error_messages', object: f.object %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p><p>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </p><p>
    <%= f.file_field :picture, accept: 'image/gif,image/jpeg,image/png' %>
  </p>
  <p><%= f.submit 'I am done.' %></p>
<% end %>
</article>