<% provide(:page_title, 'Reset your password') %>

<section>
<%= form_for @poet, url: password_reset_path( params[:id] ) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= hidden_field_tag :email, @poet.email %>
  <p>
    <%= f.label :password, 'Enter your new password' %>
    <%= f.password_field :password %>
  </p><p>
    <%= f.label :password_confirmation, 'Enter your new password again' %>
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit 'Update password' %></p>
<% end %>
</section>