<p id="notice"><%= notice %></p>

<p>
  <strong>Display name:</strong>
  <%= @poet.display_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @poet.email %>
</p>

<p>
  <strong>Passwordhash:</strong>
  <%= @poet.passwordhash %>
</p>

<p>
  <strong>First name:</strong>
  <%= @poet.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @poet.last_name %>
</p>

<%= link_to 'Edit', edit_poet_path(@poet) %> |
<%= link_to 'Back', poets_path %>
