<header>
  <p><%= link_to 'Three Word Poems', root_path %></p>
  <nav>
		<ol>
      <li><%= link_to 'Contribute', new_poem_path %></li>
    <% if logged_in? %>
      <li><%= link_to 'Account', current_poet %></li>
      <li><%= link_to 'Log out', logout_path, method: 'delete' %></li>
    <% else %>
			<li><%= link_to	'Sign up', signup_path %>, or</li>
      <li><%= link_to 'Log in', login_path %></li>
    <% end %>
		</ol>
  </nav>
</header>
