<header role="banner">
	<p>
	<%= link_to 'Three Word Poems!',
		category_url( Category.first ),
		title: "Return to the homepage, and show a poem from the Top Ten poems."
		%>
	</p>

	<nav><ol>
		<li><%= link_to "show another poem", '#' %></li>
		<li><%= link_to "contribute", new_poem_path %></li>
		<li><a href="/login">log in</a></li>
		<li><%= form_tag poems_path, method: 'get' do %>
					<%= label_tag :search_for, 'Search for:' %>
					<%= text_field_tag :search_for, @category.nil? ? @search_for : '' , placeholder: 'search' %>
					<%= submit_tag '?' %>
			<% end %>
		</li>
	</ol></nav>
</header>