<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title yield :page_title %></title>
    <meta name="viewport" content="width=device-width" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>

    <main>
      <%= render 'shared/flash' %>
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
		<% if Rails.env.development? %>
			<hr />
			<%= debug params %>
		<% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
