<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p><%= link_to 'Three Word Poems', '#' %></p>
      <nav>
      </nav>
    </header>

    <main role="main">
      <h1><%= yield :page_title %></h1>
      <%= yield %>
    </main>

    <footer>
        <p>Copyleft ThreeWordPoems</p>
        <ol>
          <li><%= link_to 'home', '#' %></li>
          <li><%= link_to 'about', '#' %></li>
          <li><%= link_to 'contact', '#' %></li>
        </ol>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
