<!DOCTYPE html>
<html>
<head>
  <title>Threewordpoems</title>
	<meta name="viewport" content="width: 960px" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

	<header role="banner">
		<div><a id="site-title" href="/poems" title="Return to the homepage, and show a poem from the Top Ten poems.">Three Word Poems</a></div>
		<nav><ol>
			<li><a href="#">about</a></li>
			<li><%= link_to "contribute", new_poem_path %></li>
			<li><a href="#">log in</a></li>
			<li><!-- <form action="/" name="search">
				<input type="text" placeholder="search" value="" />
			</form> -->search</li>
		</ol></nav>
	</header>

	<%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
