<!DOCTYPE html>
<html>
<%= render 'shared/head' %>
<body>

	<%= render "shared/site_title" %>

	<div id="sign-posts">
		<%= render "shared/site_sections" %>

		<%= yield :orientation %>
		<%= yield :collection %>
	</div>

	<%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
