<!DOCTYPE html>
<html>
<%= render 'shared/head' %>
<body>

	<%= render "shared/site_title" %>

	<div id="sign-posts">
		<%= yield :orientation %>
		<%= yield :collection %>
	</div>

	<% flash.each do |message_type, message| %>
		<%= content_tag :div, message, class: message_type %>
	<% end %>

	<%= yield %>

	<footer>
		<p><a href="#">about</a></p>
	</footer>

	<% if Rails.env.development? %>
		<hr />
		<%= debug params  %>
	<% end %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
